<script>
    function receiveMessage(event){
        if (event.data === 'ide-ready'){
            Event.trigger(document.body, 'wb-initialize', {component: 'stage'});
        }else if (event.data === 'ide-paused'){
            wb.setState('stageReady', false);
            // Event.once(document.body, 'wb-ready', null, wb.onReady);
        }
    }
	window.addEventListener('message', receiveMessage, false);
</script>
<div class="result">
	<div class="remote">
        <div class="messagebox"></div>
    </div>
	<div class="scripts_text_view"></div>
</div>
